<nav id="colorNav">
	<ul>
		<li class="green">
			<a href="/" class="icon-play"></a>
		</li>
		<li class="red">
			<a href="/share" class="icon-comment"></a>
		</li>
		<li class="blue">
			<a href="/connect" class="icon-comments"></a>
		</li>
		<!--<li class="yellow">
			<a href="/account" class="icon-beaker"></a>
		</li>
		<li class="purple">
			<a href="/chat" class="icon-comments"></a>
		</li>-->
	</ul>
</nav>