<!DOCTYPE html>
<script type="text/javascript"> 
    function changeText(text)
     {
         var display = document.getElementById('text-display');
         display.innerHTML = "";
         display.innerHTML = text;
     }
          
     function defaultText()
     {
         var display = document.getElementById('text-display');
         display.innerHTML = "";
         display.innerHTML = "Storytime";
     }     
</script>
<nav id="colorNav">
	<ul>
		<li class="green"><a href="/" class="icon-home2" onmouseover="changeText('Storytime')" onmouseout="defaultText()"></a></li>
		<% if (user) { %>
			<li class="yellow"><a href="/profile" class="icon-profile" onmouseover="changeText('All about you')" onmouseout="defaultText()"></a></li>
			<li class="blue"><a href="/connect" class="icon-bubbles" onmouseover="changeText('Connect and draw')" onmouseout="defaultText()"></a></li>
		<% } %>
		<li class="red"><a href="/resources" class="icon-aid" onmouseover="changeText('Additional resources')" onmouseout="defaultText()"></a></li>
		<li class="green"><a href="/about_us" class="icon-heart" onmouseover="changeText('About us')" onmouseout="defaultText()"></a></li>
		<li id="text-display">Storytime</li>
		<li id="login-button" class="yellow">
			<a href="#" class="logbut show_hide icon-user3"></a>
			<div class="logbar">
			<div class="modal-body">
				<% if (user) { %>
					<form action="/logout" class="form col-md-12 center-block">
						<% if (message.length > 0) { %>
							<div class="form-group alert alert-danger"><%= message %></div>
						<% } %>
						<div class="form-group">
						  <button class="btn btn-primary btn-lg btn-block sign-in">Log out</button>
						</div>
					</form>
				<% } else { %>
				<form action="/login" method="post" class="form col-md-12 center-block">
					<% if (message.length > 0) { %>
						<div id="error-messages" class="form-group alert alert-danger"><%= message %></div>
					<% } %>
					<div class="form-group">
					  <input name="username" type="text" class="form-control input-lg login-text" placeholder="Username">
					</div>
					<div class="form-group">
					  <input name="password" type="password" class="form-control input-lg login-text" placeholder="Password">
					</div>
					<div class="form-group">
					  <button class="btn btn-primary btn-lg btn-block sign-in">Log in</button>
					</div>
					<div class="register-center"><a class="register-link" href="/signup">Sign up</a></div>
				</form>
				<% } %>
			</div>
			</div>
		</li>
	</ul>
</nav>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		jQuery.noConflict();
		$(".icon-user3").show();
		if ($("#error-messages").length > 0) {
			$(".logbar").show();
			$(".icon-user3").toggle(
			function(){
		  		$(".logbar").slideDown().slideToggle(400);
			}, function() {
				$(".logbar").slideUp().slideToggle(400);
			});
		} else {
			$(".logbar").hide();
			$(".icon-user3").toggle(
			function(){
		  		$(".logbar").slideUp().slideToggle(400);
			},
			function(){
		  		$(".logbar").slideDown().slideToggle(400);
			});
		}
	});
</script>