<nav id="colorNav">
	<ul>
		<li class="green"><a href="/" class="icon-home2"></a></li>
		<li class="yellow"><a href="/profile" class="icon-profile"></a></li>
		<li class="blue"><a href="/connect" class="icon-bubbles"></a></li>
		<li class="red"><a href="/resources" class="icon-aid"></a></li>
		<li class="green"><a href="/about_us" class="icon-heart"></a></li>
	</ul>
</nav>