<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<h1 class="resources_header">Our mission</h1>
	<p class="resources_intro">We're Marie, Natasha, and Sierra, 3 students at Stanford University. We created this website to help survivors of sexual assault. We hope you'll see this as a safe haven to come talk to other survivors and have some fun drawing with them.</p>
	<p class="resources_intro">Right now, we've built a place where you can find other survivors and learn a little about them before you connect, in order to have a more meaningful conversation. We're working hard to make this website useful for you, so stay tuned for an even better experience in the next few weeks.</p>
	<p class="resources_intro">And as always, if you need more help than you can find here, check out the resources page!</p>
	<img id="Our_team" class="team_photo" src="img/team_one.png">
</body>
</html>