<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}} 
  <style >
  #test {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  width: 100%;
  height: 100%;
  z-index: -1;
  }
  </style>  
</head>
<body>
  	{{>nav}}
<!--   	<img src="https://docs.google.com/drawings/d/1frspvOQtPWaT0Z52nB_q5r0d9J2NYC7MLct3KlOd1eE/pub?w=960&amp;h=720">
 -->

<iframe id="test" src="http://azpdemo.appspot.com/whiteboard/agdhenBkZW1vchMLEgpXaGl0ZUJvYXJkGOi2_0oM"></iframe>
</body>
 </html>