<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<div id="text-display">Whoops-something went wrong. Go back before the kraken is released.</div>
</body>
</html>