<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>

 				<div class="col-md-4">
					<div class="well">
						<h3 class="text-title">
							<a href="/connect"><span class="fa icon-bubbles online-status"></span></a>
							&nbsp;</span></h3>
						<p></p>
					</div>
				</div>


 
	</body>
</body>
</html>