<!DOCTYPE html>
<html lang="en">
	{{> header}}
</head>
<body>
	{{> nav}}
	<img id="title" src="img/listen.png" alt="gallery">	
	<div id="audio-player" class="audio-player-wrapper">
 		<div class="audio-player-image"></div>
	  	<div class="audio-player-controls">
		    <span class="audio-player-button-wrappers">
		      <a role="button" class="audio-player-button small icon-backward"></a>
		      <a role="button" class="audio-player-button audio-player-place-pause-button icon-play "></a>
		      <a role="button" class="audio-player-button small icon-forward"></a>
		    </span>
	  	</div>
	</div>
	<script type='text/javascript' src="js/audio.js"></script> 	
</body>
</html>