<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<!-- Header -->
	<section id="header">
		<header>
			<h1>INSERT WITTY TITLE</h1>
			<p>Dedicated to a world free of sexual assault</p>
		</header>
		<footer>
			<a href="#banner" class="button style2 scrolly scrolly-centered">Our purpose</a>
		</footer>
	</section>

	<!-- Banner -->
	<section id="banner">
		<header>
			<h2>This is INSERT WITTY TITLE</h2>
		</header>
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
		<footer>
			<a href="#gallery" class="button style2 scrolly">Gallery</a>
		</footer>
		<footer>
			<a href="/contract" class="button style2 scrolly">Connect and draw</a>
		</footer>
	</section>

	<!-- Header -->
	<section id="gallery">
	<article class="container box style2">
		<header>
			<h2>Squares</h2>
			<p class="dates">May 18 - May 24</p>
			<p>"The Internet is becoming the town <strong>square</strong> for the global village of tomorrow."<br /><span class="author">Bill Gates</span></p>
		</header>
		<div class="inner gallery">
			<div class="row flush">
				<div class="3u"><a href="images/1.png" class="image full"><img src="images/1.png" alt="" title="May 19: 6 minutes" /></a></div>
				<div class="3u"><a href="images/2.png" class="image full"><img src="images/2.png" alt="" title="May 20: 23 minutes" /></a></div>
				<div class="3u"><a href="images/3.png" class="image full"><img src="images/3.png" alt="" title="May 22: 15 minutes" /></a></div>
				<div class="3u"><a href="images/4.png" class="image full"><img src="images/4.png" alt="" title="May 22: 27 minutes" /></a></div>
			</div>
		</div>
	</article>
	<article class="container box style2">
		<header>
			<h2>Triangles</h2>
			<p class="dates">May 11 - May 17</p>
			<p>"Climb the <strong>mountains</strong> and get their good tidings. Nature's peace will flow into you as sunshine flows into trees. The winds will blow their own freshness into you, and the storms their energy, while cares will drop away from you like the leaves of Autumn."<br /><span class="author">John Muir</span></p>
		</header>
		<div class="inner gallery">
			<div class="row flush">
				<div class="3u"><a href="images/1.png" class="image full"><img src="images/5.png" alt="" title="May 12: 9 minutes" /></a></div>
				<div class="3u"><a href="images/2.png" class="image full"><img src="images/6.png" alt="" title="May 13: 32 minutes" /></a></div>
				<div class="3u"><a href="images/3.png" class="image full"><img src="images/7.png" alt="" title="May 14: 17 minutes" /></a></div>
				<div class="3u"><a href="images/4.png" class="image full"><img src="images/8.png" alt="" title="May 17: 7 minutes" /></a></div>
			</div>
		</div>
	</article>
	<article class="container box style2">
		<header>
			<h2>Circles</h2>
			<p class="dates">May 4 - May 10</p>
			<p>"The life of man is a self-evolving <strong>circle</strong>, which, from a ring imperceptibly small, rushes on all sides outwards to new and larger circles, and that without end. The extent to which this generation of circles, wheel without wheel, will go, depends on the force or truth of the individual soul."<br /><span class="author">Ralph Waldo Emerson</span></p>
		</header>
		<div class="inner gallery">
			<div class="row flush">
				<div class="3u"><a href="images/1.png" class="image full"><img src="images/9.png" alt="" title="May 4: 7 minutes" /></a></div>
				<div class="3u"><a href="images/2.png" class="image full"><img src="images/10.png" alt="" title="May 6: 19 minutes" /></a></div>
				<div class="3u"><a href="images/3.png" class="image full"><img src="images/11.png" alt="" title="May 9: 4 minutes" /></a></div>
				<div class="3u"><a href="images/4.png" class="image full"><img src="images/12.png" alt="" title="May 10: 42 minutes" /></a></div>
			</div>
		</div>
	</article>
	</section>
</body>
</html>