<!doctype html>

<html>
<head>
	<title>Don't do it alone</title>
	<meta charset="utf-8">
</head>
<body>
	<div style="width:100%; position:relative">
		<div style="width:25%; float: left">&nbsp;
		</div>
		<div style="width: 50%; float: left">
			<h2 style="text-align:center; margin:10px">Don't do it alone</h2>
		</div>
		<div style="float:right">
			<br/>
			<button>Sign up</button>
			<button>Sign in</button>
		</div>
	</div>
	<br/>
	<br/>
	<hr>
</body>
</html>