<!doctype html>

<html>
<head>
	<title>Don't do it alone</title>
	<meta charset="utf-8">
</head>
<body>
	<div style="width:100%; position:relative">
		<div style="width:25%; float: left">&nbsp;
		</div>
		<div style="width: 50%; float: left">
			<h2 style="text-align:center; margin:10px">Don't do it alone</h2>
		</div>
		<div style="float:right">
			<br/>
			<button>Sign up</button>
			<button>Sign in</button>
		</div>
	</div>
	<br/>
	<br/>
	<hr>
	<div style="position:relative">
		<div style="width:40%;float:left">
			<div style="width:200px; padding: 15px; position:relative; float:left">
				<div style="border:2px solid; width: 200px; height: 160px; line-height:160px">
					<span style="vertical-align:middle; text-align:center; display:block">At a gas station</span>
				</div>
			</div>
			<div style="width:200px; padding: 15px; position:relative; float:left">
				<div style="border:2px solid; width: 200px; height: 160px; line-height:160px">
					<span style="vertical-align:middle; text-align:center; display:block">Hate him</span>
				</div>
			</div>
			<div style="width: 100%; height:75px; display:table; position:relative; float: left">
				<h3 style="text-align:center; vertical-align:middle; display:table-cell">Listen to these stories and learn(?) more
				</h3>
			</div>
			<div style="width:200px; padding: 15px; position:relative; float:left">
				<div style="border:2px solid; width: 200px; height: 160px; line-height:160px">
					<span style="vertical-align:middle; text-align:center; display:block">Last week</span>
				</div>
			</div>
			<div style="width:200px; padding: 15px; position:relative; float:left">
				<div style="border:2px solid; width: 200px; height: 160px; line-height:160px">
					<span style="vertical-align:middle; text-align:center; display:block">First week at college</span>
				</div>
			</div>
		</div>
		<div style="width:60%; float:right">
			<div style="width: 100%; height:100px; display:table">
				<h3 style="text-align:center; vertical-align:middle; display:table-cell">What is sexual assault? Every story is different</h3>
			</div>
			<div style="width:200px; padding: 15px; position:relative; float:left">
				<div style="border:2px solid; width: 200px; height: 160px; line-height:160px">
					<span style="vertical-align:middle; text-align:center; display:block">Trying to forget</span>
				</div>
			</div>
			<div style="width:200px; padding: 15px; position:relative; float:left">
				<div style="border:2px solid; width: 200px; height: 160px; line-height:160px">
					<span style="vertical-align:middle; text-align:center; display:block">Never going back</span>
				</div>
			</div>
			<div style="width:200px; padding: 15px; position:relative; float:left">
				<div style="border:2px solid; width: 200px; height: 160px; line-height:160px">
					<span style="vertical-align:middle; text-align:center; display:block">What happened?</span>
				</div>
			</div>
			<div style="width: 100%; height:150px; display: table; padding:0px 0px 0px 0px">
				<h3 style="display: table-cell; text-align:center; vertical-align:middle">We hope you don't have your own story. But if you do, share it here and connect with someone over your two stories.</h3>
			</div>
		</div>
</body>
</html>