{{#if error}}
<p>There was an error signing up: {{error}}.</p>
{{/if}}
<form id="login" action="register" method="post">
    	<fieldset id="inputs">
        	<input id="username"  class='login_input' name="username" type="text" placeholder="Username" autofocus required>  
	
        	<input id="password"  class='login_input' name="password" type="password" placeholder="Password" required>


      <input type="submit" id="submit"  class='submit_button'value="Register">
    	</fieldset>