<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>
	<div id="text-display" class="page-header">Storytime</div>
	<h1 class="resources_header">Ask for help</h1>
	<p class="resources_intro">While we want to provide you with an opportunity to bond with other survivors of sexual assault, there are times when you may want to reach out to someone with more experience in helping others. Here is a list of some resources that can help you.</p>
	<p class="resources_intro">For example, we try to post trigger warnings on the site to prepare you for some difficult content that could trigger a painful memory and even a sense of panic around that situation, but if you feel overwhelmed by any memories or conversations, please reach out to these experts.</p>
	<div class="resources_type">National</div>
	<div>
		<div class="resource">
			<div class="resource_border">
				<span class="resource_text"><span class="resource_text_title">YWCA<br/></span>The YWCA Support Network (Domestic Violence)<br/>(800) 572-2782<br/><a href="http://www.ywca.org/site/c.cuIRJ7NTKrLaG/b.8778673/k.2A72/Domestic_Violence_and_Violence_Against_Women.htm">www.ywca.org/</a><br/><br/>Assists women and families suffering from relationship abuse by providing a residential shelter, immediate and long-term clinical counseling, child therapy, teen dating violence prevention, support groups, legal advocacy, and other critical services. 24- hour toll free bilingual (English & Spanish) crisis line for victims, as well as their friends, families, co-workers, and neighbors.</span>
			</div>
		</div>
		<div class="resource">
			<div class="resource_border">
				<span class="resource_text"><span class="resource_text_title">Domestic Violence Hotline<br/></span>The National Domestic Violence Hotline<br/>(800) 799-SAFE(7233)<br/><a href="http://www.thehotline.org/">www.thehotline.org/</a><br/><br/>The National Domestic Violence Hotline responds to calls 24/7, 365 days/year, toll free, translations in 170 languages, providing crisis intervention, options for next steps, and direct connect to sources for immediate safety.</span>
			</div>
		</div>
		<div class="resource">
			<div class="resource_border">
				<span class="resource_text"><span class="resource_text_title">RAINN<br/></span>Rape, Abuse & Incest National Network<br/>Sexual Assault Hotline (800)-656-HOPE (4673)<br/><a href="http://www.rainn.org/">www.rainn.org/</a><br/><br/>The Rape, Abuse & Incest National Network (RAINN) is an American anti-sexual assault organization, the largest in the United States. RAINN operates the National Sexual Assault Hotline and carries out programs to prevent sexual assault, help victims, and to ensure that rapists are brought to justice.</span>
			</div>
		</div>
		<div class="resources_type">At Stanford</div>
		<div>
			<div class="resource">
				<div class="resource_border">
					<span class="resource_text"><span class="resource_text_title">Rape Crisis Hotline<br/></span>YWCA & Stanford<br/>(650) 725-9955<br/><br/>For immediate confidential and anonymous assistance, call the YWCA Stanford dedicated Rape Crisis Hotline. You may call regardless of whether you are a victim of sexual assault, know someone who is, or would like further information.</span>
				</div>
			</div>
			<div class="resource">
				<div class="resource_border">
					<span class="resource_text"><span class="resource_text_title">SARA<br/></span>Office of Sexual Assault & Relationship Abuse Education & Response<br/>(650) 725-1056<br/><a href="http://studentaffairs.stanford.edu/sara">studentaffairs.stanford.edu/sara</a><br/><br/>SARA facilitates the coordinated, comprehensive, & consistent response to interpersonal relationship violence.  With a focus on prevention education, intervention, and outreach, they collaborate with all members of the Stanford campus community to increase awareness and promote a culture of safety and respect.</span>
				</div>
			</div>
			<div class="resource">
				<div class="resource_border">
					<span class="resource_text"><span class="resource_text_title">The Bridge<br/></span>The Bridge Peer Counseling Center<br/>(650) 725-2485 (24 hours)<br/><a href="http://www.thebridge.stanford.edu">thebridge.stanford.edu</a><br/><br/>Peer counseling and support. Staff members serve as volunteer counselors for a few hours each week after completing the 10-week training course.</span>
				</div>
			</div>
		</div>
</body>
</html>