<!doctype html>

<html>
<head>
	<title>Don't do it alone</title>
	<meta charset="utf-8">
</head>
<body>
	<div style="width:100%; position:relative">
			<h2 style="text-align:center; margin:10px">Don't do it alone</h2>
	</div>
	<hr>
	<br/>
	<br/>
	<div style="width:30%">&nbsp;</div>
	<div style="width:70%; position:relative: float:left">
		<form>
			<h4>Account Settings</h4>
			Username: <input type="text" name="username"><br>
			Password: <input type="text" name="password1"><br>
			Confirm Password: <input type="text" name="password2"><br>
			Security Question: <input type="text" name="securityQuestion"><br/>
			Answer to Security Question: <input type="text" name="securityAnswer"><br/>
			<h4>About you</h4>
			Gender: <input type="radio" name="sex" value="he">He<input type="radio" name="sex" value="she">She<input type="radio" name="sex" value="They">They</br>
			Age: <input type="radio" name="age" value="20s">20-29<input type="radio" name="age" value="30s">30-39<input type="radio" name="age" value="40s">40+</br>
		</form>
	</div>
</body>
</html>