<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav.ejs %>	
<!-- 	<div id="bg"><img id="One_img" class="One_img" src="img/green_1.jpg"></div>
		<nav id="playerNav">
			<span id="recordingslist"></span>
			<ul>
				<li>
					<button id="record" onclick="startRecording(this);"><span class="green icon-record"></span></button>
				</li>
				<li>
					<button id="stop" onclick="stopRecording(this);" disabled><span class="red icon-stop"></button>
				</li>
			</ul>
		</nav>
	</div>  -->
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
	<h3>Welcome to Storytime, a safe place to share your experience and connect over drawing.</h3>
	<!-- LOGIN FORM -->
	<form action="/signup" method="post" class="form col-md-12 center-block">
		<% if (message.length > 0) { %>
			<div id="error-messages" class="form-group alert alert-danger"><%= message %></div>
		<% } %>
		<div class="form-group">
			<input type="text" class="form-control input-lg signup-text" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control input-lg signup-text" name="password" placeholder="Password">
		</div>
		<div class="form-group">
			<input type="text" class="form-control input-lg signup-text" name="birthyear" placeholder="Birthyear">
		</div>
		<div class="form-group btn-group btn-group-lg btn-group-justified" data-toggle="buttons">
			<label class="btn btn-default pronoun-text active"><input type="radio" name="pronoun" value="he">He</label>
			<label class="btn btn-default pronoun-text"><input type="radio" name="pronoun" value="she">She</label>
			<label class="btn btn-default pronoun-text"><input type="radio" name="pronoun" value="they">They</label>
		</div>
		<div class="form-group">
			<textarea id="signup-story" rows: "5" class="form-control input-lg signup-text" name="story" placeholder="Written in these walls are the stories that I can't explain. Channel your inner 1D and tell us a story."&nbsp;&nbsp;></textarea>
		</div>
		<div class="form-group">
		  <button type="submit" value="submit" class="btn btn-primary btn-lg btn-block sign-in">Sign up</button>
		</div>
	</form>
</div>
</div>
</body>
</html>