<!DOCTYPE html>
<html lang="en">
	<%- include partials/header.ejs %>
</head>
<body>
	<%- include partials/nav-signup.ejs %>
	
	<div id="bg"><img id="One_img" class="One_img" src="img/green_1.jpg"></div>
		<nav id="playerNav">
			<span id="recordingslist"></span>
			<ul>
				<li>
					<button id="record" onclick="startRecording(this);"><span class="green icon-record"></span></button>
				</li>
				<li>
					<button id="stop" onclick="stopRecording(this);" disabled><span class="red icon-stop"></button>
				</li>
			</ul>
		</nav>
	</div>  

</body>
</html>