/*----------------------------
  Gallery Audio
-----------------------------*/
#recordingslist {
  position: absolute;
  bottom: 0;
  left: 0;
  margin:0 auto !important;
  padding: 10px;
}
button#record, button#stop {
  line-height: inherit;
  border: inherit;
  background-color: inherit;
  color: inherit;
}
button#record:disabled, button#stop:disabled {
/*  background-color: white;
  color: white;*/
  display: none;
}
#bg {
  position: absolute; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 25%;
  min-height: 25%;
  border-radius: 3px;
}
#playerNav > ul {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin:0 auto !important;
  padding: 10px;
  list-style: none;
}
#playerNav > ul > li > button > span { /* will style only the top level li */
  list-style: none !important;
  display: inline-block !important;
  line-height: 1 !important;
  margin: 1px !important;
  border-radius: 3px !important;
  padding: 20px;
}
#playerNav > ul > li > button > span {
  color:inherit !important;
  text-decoration:none !important;
  font-size: 30px !important;
}
#playerNav li ul {
  position:absolute;
  list-style:none;
  text-align:center;
  width:180px;
  left:50%;
  margin-left:-90px;
  top:70px;
  font:bold 12px 'Open Sans Condensed', sans-serif;
  max-height:0px;
  overflow:hidden;
  -webkit-transition:max-height 0.4s linear;
  -moz-transition:max-height 0.4s linear;
  transition:max-height 0.4s linear;
}
#playerNav li ul li button span{
  background-color:#313131;
}
#playerNav li ul li button span {
  padding:12px;
  color:#fff !important;
  text-decoration:none !important;
  display:block;
}
#playerNav li ul li button span:nth-child(odd){ /* zebra stripes */
  background-color:#363636;
}
#playerNav li ul li button span:hover{
  background-color:#444;
}
#playerNav li ul li button span:first-child{
  border-radius:3px 3px 0 0;
  margin-top:25px;
  position:relative;
}
#playerNav li ul li button span:first-child:before{ /* the pointer tip */
  content:'';
  position:absolute;
  width:1px;
  height:1px;
  border:5px solid transparent;
  border-bottom-color:#313131;
  left:50%;
  top:-10px;
  margin-left:-5px;
}
#playerNav li ul li button span:last-child{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
#playerNav li button span:hover ul{
  max-height:200px; /* Increase when adding more dropdown items */
}
#playerNav li button span.title{
  width: 100%; 
  text-align: right;
}
#listenNav > ul {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin:0 auto !important;
  padding: 10px;
}
#listenNav > ul > li { /* will style only the top level li */
  list-style: none !important;
  display: inline-block !important;
  line-height: 1 !important;
  margin: 1px !important;
  border-radius: 3px !important;
  padding: 20px;
}
#listenNav > ul > li > a {
  color:inherit !important;
  text-decoration:none !important;
  font-size: 30px !important;
}
#listenNav li ul {
  position:absolute;
  list-style:none;
  text-align:center;
  width:180px;
  left:50%;
  margin-left:-90px;
  top:70px;
  font:bold 12px 'Open Sans Condensed', sans-serif;
  max-height:0px;
  overflow:hidden;
  -webkit-transition:max-height 0.4s linear;
  -moz-transition:max-height 0.4s linear;
  transition:max-height 0.4s linear;
}
#listenNav li ul li {
  background-color:#313131;
}
#listenNav li ul li a {
  padding:12px;
  color:#fff !important;
  text-decoration:none !important;
  display:block;
}
#listenNav li ul li:nth-child(odd){ /* zebra stripes */
  background-color:#363636;
}
#listenNav li ul li:hover{
  background-color:#444;
}
#listenNav li ul li:first-child{
  border-radius:3px 3px 0 0;
  margin-top:25px;
  position:relative;
}
#listenNav li ul li:first-child:before{ /* the pointer tip */
  content:'';
  position:absolute;
  width:1px;
  height:1px;
  border:5px solid transparent;
  border-bottom-color:#313131;
  left:50%;
  top:-10px;
  margin-left:-5px;
}
#listenNav li ul li:last-child{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
#listenNav li:hover ul{
  max-height:200px; /* Increase when adding more dropdown items */
}
#listenNav li.title{
  width: 100%; 
  text-align: right;
}
/*----------------------------
  The Navigation Menu
-----------------------------*/
@font-face {
  font-family: 'moonBold';
  src:url('../font/moonBold.ttf');
}
@font-face {
  font-family: 'moon';
  src:url('../font/moon.ttf');
}
#login-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
#text-display {
  font-family: 'moonBold';
  font-size: 70px;
  padding: 0px !important;
  margin: 0px !important;
  vertical-align: top;
}
.text-display {
  font-family: 'moonBold';
  font-size: 75px;
  position: relative;
  margin-left: 10px;
  left: 0px;
  top: 0px;
}
#colorNav > ul, #text-display {
  margin:0 auto !important;
  padding: 10px;
}
#colorNav > ul > li { /* will style only the top level li */
  list-style: none !important;
  display: inline-block !important;
  line-height: 1 !important;
  margin: 1px !important;
  border-radius: 3px !important;
  padding: 20px;
}
#colorNav > ul > li > a {
  color:inherit !important;
  text-decoration:none !important;
  font-size: 30px !important;
}
#colorNav li ul {
  position:absolute;
  list-style:none;
  text-align:center;
  width:180px;
  left:50%;
  margin-left:-90px;
  top:70px;
  font:bold 12px 'Open Sans Condensed', sans-serif;
  max-height:0px;
  overflow:hidden;
  -webkit-transition:max-height 0.4s linear;
  -moz-transition:max-height 0.4s linear;
  transition:max-height 0.4s linear;
}
#colorNav li ul li {
  background-color:#313131;
}
#colorNav li ul li a {
  padding:12px;
  color:#fff !important;
  text-decoration:none !important;
  display:block;
}
#colorNav li ul li:nth-child(odd){ /* zebra stripes */
  background-color:#363636;
}
#colorNav li ul li:hover{
  background-color:#444;
}
#colorNav li ul li:first-child{
  border-radius:3px 3px 0 0;
  margin-top:25px;
  position:relative;
}
#colorNav li ul li:first-child:before{ /* the pointer tip */
  content:'';
  position:absolute;
  width:1px;
  height:1px;
  border:5px solid transparent;
  border-bottom-color:#313131;
  left:50%;
  top:-10px;
  margin-left:-5px;
}
#colorNav li ul li:last-child{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
#colorNav li:hover ul{
  max-height:200px; /* Increase when adding more dropdown items */
}
#colorNav li.title{
  width: 100%; 
  text-align: right;
}
/*----------------------------
  Color Themes
-----------------------------*/

#playerNav li button span.green, #colorNav li.green{ background-color:#00c08b !important; color:#127a5d !important;}
#playerNav li button span.red, #colorNav li.red{ background-color:#ea5080 !important;color:#aa2a52 !important;}
#playerNav li button span.blue, #colorNav li.blue{ background-color:#53bfe2 !important;color:#2884a2 !important;}
#playerNav li button span.yellow, #colorNav li.yellow{ background-color:#f8c54d !important;color:#ab8426 !important;}
#playerNav li button span.purple. #colorNav li.purple{ background-color:#df6dc2 !important;color:#9f3c85 !important;}
#listenNav li.green{ background-color:#00c08b !important; color:#127a5d !important;}
#listenNav li.red{ background-color:#ea5080 !important;color:#aa2a52 !important;}
#listenNav li.blue{ background-color:#53bfe2 !important;color:#2884a2 !important;}
#listenNav li.yellow{ background-color:#f8c54d !important;color:#ab8426 !important;}
#listenNav li.purple{ background-color:#df6dc2 !important;color:#9f3c85 !important;}


#controls     { padding:0 0 8px 10px; border-bottom:2px solid #ccc;}
.color      { display:inline-block; width:50px; height:50px; margin:10px 30px 0 0; border:2px solid #ccc; cursor:pointer; opacity:0.3 }
.color.active { opacity:1; }

/*----------------------------
  Gallery
-----------------------------*/
.thumbnail {
  margin-bottom:6px;
  border-radius: 10px !important;
  border: 0px !important;
}
.carousel-control.left,.carousel-control.right {
  background-image:none;
  margin-top:10%;
  width:5%;  
}
#recordingslist audio { display: inline; float:left; margin-bottom: 0;}
/*----------------------------
  Login
-----------------------------*/
.show_hide {
  display:none;
}
.logbar  {
  position: absolute;
  top: 0px;
  right: 80px;
  background-color: #f8c54d;
  padding: 20px;
  color: #fff;
  float: left;
  border-radius: 3px;
  width: 500%;
  z-index: 100;
}
.login-text  {
  border-style: none;
  background-color: white;
}
input:focus, input:active, textarea:focus, textarea:active  {
  box-shadow: none !important;
}
.signup-text, #signup-story {
  background-color: white;
}
.pronoun-text {
  background-color: white;
  color: #999999 !important;
  font-size: 18px !important; 
}
#error-messages {
  border-style: none;
  box-shadow: none !important;
  border-radius: 6px; 
  font-size: 18px;
  text-align: center;
  color: #555;
  font-size: 18px;
}
input:-webkit-autofill{
    -webkit-box-shadow: none !important;
}
.sign-in, .sign-in:visited {
  background-color: #ea5080;
  border-style: none;
}
.sign-in:hover {
  background-color: #aa2a52;
}
.register-center {
  width: 100%;
  text-align: center;
}
.register-link {
  color: #555;
  font-size: 18px;
}
.register-link:hover {
  text-decoration: none;
  color: #3f3f3f;
}
/*----------------------------
  Profile
-----------------------------*/
.text-paragraph {
  font-family: 'moon';
  font-size: 25px;
}
.text-title {
  font-family: 'moonBold';
  font-size: 40px;
}
.page-header {
  border-bottom: none;
}
.fa {
  font-size: 35px;
}
.container {
  width: 100%;
}
.well {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*----------------------------
  Sign up
-----------------------------*/
.signup-container {
  background-color: #f8c54d;
  border-radius: 3px;
  padding-left: 10px;
}
#signup-story {
  rows: 5;
}